[Unit]
Description=Update pacman database on boot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pacman -Sy
StandardOutput=journal

[Install]
WantedBy=multi-user.target
